<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="browser" value="FireFox"/>
    <add key="URL" value="https://s1.demo.opensourcecms.com/wordpress/wp-admin/edit.php?post_type=page"/>
    <add key="WaitDuration" value="30"/>
  </appSettings>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
</configuration>